<header>
    <nav class=" navbar navbar-expand-sm nav-bar bg-light">
        <div class="container-fluid">
            <div class=" me-auto">
                <img src="/img/Black.png" width="100" height="30" class="d-inline-block align-top"
                    alt="rewards" loading="lazy">

            </div>
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarsExample07XL" aria-controls="navbarsExample07XL" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarsExample07XL">
                <div class="me-auto"></div>
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Log in
                        </a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="/signin">User</a></li>
                          <li><a class="dropdown-item" href="/admin">Admin</a></li>
                        </ul>
                      </li>

                </ul>
            </div>
        </div>
    </nav>
</header>