<%- include('includes/head'); -%>
<body>
    <%- include('includes/header home'); -%>


    <main class="p-5">
        <row>
            <div class="col-4">
                <h1>Page not found</h1>

            </div>
            <div class="col-8">
                <img src="/img/404.gif" style="width:100%">

            </div>
        </row>
    </main>
    <%- include('includes/footer'); -%>

    </body>
    </html>
    