<%- include('includes/head'); -%>
<body>
    <%- include('includes/header home'); -%>
    <main class="p-5">
<main class="px-5">
    <h2 class="text-center">What do we do?</h2>
    <p>
        Discounts
        
        Discount coupons are one of the most commonly used referral program rewards. And for good reason – discounts are rated by 51% of global customers as the most-valued reward, and provide benefits for both customers and businesses, alike. Usually, discounts are presented as a percentage off a purchase.</p>
       <h4 class="text-center"> What is the meaning of referral rewards and incentives?</h4>
        A referral reward is any incentive given to customers who actively promote and refer others to a brand. They can range from store credit and discounts to company swag.
        
        Referral rewards and incentives are usually offered through a formal referral program, which serves to engage existing customers and encourage word-of-mouth marketing.
        
        Oftentimes, a company will choose to reward both the existing customer and the referred customer. These types of rewards are often the most successful, as they show a company’s sincere appreciation for their efforts.
        
        
    </main>
</main>
    <%- include('includes/footer'); -%>

</body>
</html>