<%- include('includes/head'); -%>
<body class="home-body">
  <%- include('includes/header home'); -%>


    <main class="">
        <div class="container-lg p-5">
            <div class="p-5">
                <h1 class="text-white hi">Reward for <span style="color: #8e44ad ">loyalty.</span></h1>

            </div>
            <div class="p-5">
                <a class="btn main-color" href="/about">Learn more</a>
                <a class="btn main-color" href="/signup">SignUp</a>
            </div>

        </div>
    </main>

    <%- include('includes/footer'); -%>

</body>

</html>